[Service]
ExecStart=/opt/kube/kube-proxy \
  --master={{ master_endpoint }} \
  {{ specific_flags }} \
  --proxy-mode=iptables
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target

