[Service]
ExecStartPre=/usr/bin/mkdir -p /etc/kubernetes/manifests
ExecStart=/opt/kube/kubelet \
  {{ specific_flags }} \
  --config=/etc/kubernetes/manifests \
  --hostname-override={{ advertise_ip }}
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target

